<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mailman文件上传页面</title>
</head>
<body>
<form method="post" action="/encode" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    path:<input type="text" name="path"><br>
    fps of video:<input type="number" name="fps"><br>
    rate(bps):<input type="text" name="rate"><br>
    <input type="submit" value="Upload"><br>
    tip: 40000, 32000 or any rate can be divided exactly by 80 is recommended, not higher than 40000

</form>
<br>
<br>
<br>
<form method="post" action="/decode" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    path:<input type="text" name="path"><br>
    <input type="submit" value="Upload">
</form>
</body>